/* Skills Section */
.skills-section {
  max-width: 800px;
  bottom: 0px;
  /* margin: 0 auto;
  text-align: left;
  align-items: left; Align content to the left */
}

.skills-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.skills-section h3 {
  font-size: 24px;
  color: #808080;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); /* Responsive grid layout */
  gap: 20px;
  justify-items: start; /* Align grid items to the left */
  justify-content: start;
}

.skill-item {
  display: flex;
  flex-direction: column;
  transition: ease 0.5s;
  align-items: flex-start; /* Align skill items to the left */
}

.skill-item i {
  font-size: 50px;
  transition: ease 0.5s;
  /* margin-bottom: 10px; */
}

.skill-item p {
  font-size: 0px;
  font-weight: 600;
}

.skill-item:hover {
  scale: 1.2;
  transition: ease 0.5s;
}

.skill-item::after {
  content: attr(data-skill); /* Get the skill name from the data attribute */
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Prevents it from taking up space */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* FontAwesome icon styling */
.home-skill-icon {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 10px;
}
